exceptiongroup==1.1.0
imageio==2.31.1
iniconfig==2.0.0
lazy_loader==0.3
networkx==3.1
numpy @ file:///D:/bld/numpy_1688887186903/work
opencv-python==4.8.0.74
packaging==23.1
pandas==2.0.3
Pillow==10.0.0
pluggy==1.0.0
ply==3.11
pytest==7.2.1
python-dateutil==2.8.2
pytz==2023.3
PyWavelets==1.4.1
scikit-image==0.21.0
scipy==1.11.1
six==1.16.0
smop==0.41b0
tifffile==2023.7.18
tomli==2.0.1
tzdata==2023.3
